//////////////////////////////
/// LIST
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-bottom: var(--border-grey);
  border-top: var(--border-grey);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.7rem;

    // newer browsers - masks
    background-color: var(--color-primary);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover;

    // older browsers
    // background-image: url(../img/chevron-thin-right.svg);
    // background-image: cover;
  }
}
